.cursor/
.vscode/
.idea/
.pytest_cache/
.venv/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
venv/
logs/
docs/

